.nav {
  display: flex;
  position: fixed;
  top: 5%;
  left: -90rem;
  flex-direction: column;
  margin: 0;
  width: 100%;
  font-weight: 400;
  z-index: 900;
  background-color: var(--color-neutral-100);
  height: 90vh;

  @media screen and (min-width: 64rem) {
    position: relative;
    left: 0;
    top: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid var(--color-neutral-200);
    padding: 0 var(--space-80);
    height: 50px;
    transition: left 0.3s ease-in-out;
  }
}

.nav.active {
  left: 0;
  top: 50px;
  height: calc(100vh - 50px);
  transition: left 0.3s ease-in-out;

  @media screen and (min-width: 64rem) {
    display: none;
    left: 0;
  }
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;

  @media screen and (min-width: 64rem) {
    margin-right: var(--space-32);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 80rem) {
    margin-right: var(--space-56);
    padding: var(--space-12) 0;
    width: 90%;
  }
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: var(--space-24) 0;
  width: 100%;
  color: var(--color-neutral-900);
  font-weight: 500;
  font-size: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    transition: color 0.3s ease;
    background-color: var(--color-neutral-150);
  }

  @media screen and (min-width: 48rem) {
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }

  @media screen and (min-width: 64rem) {
    font-size: 0.75rem;
  }

  @media screen and (min-width: 80rem) {
    padding: 0;
    width: auto;
    font-size: 1rem;
  }
}

.nav__item-nested {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 64rem) {
    margin-left: var(--space-32);
    flex-direction: row;
    width: 30%;
  }

  @media screen and (min-width: 80rem) {
    gap: var(--space-56);
    padding-right: var(--space-16);
  }
}
