:root {
  //primary colors
  --color-primary-100: #f15932;
  --color-primary-200: #fe3e31;
  --color-primary-800: #960a00;

  // secondary colors
  --color-secondary-100: #e6edec;

  // neutral colors
  --color-neutral-100: white;
  --color-neutral-150: #f1f1f1;
  --color-neutral-200: #efefef;
  --color-neutral-300: #ececec;
  --color-neutral-700: #989898;
  --color-neutral-750: #686868;
  --color-neutral-800: #313131;
  --color-neutral-900: black;
}
